@import url('../constants/colors.css');

.edit-form-place {
    width: 100%;
    padding-bottom: 40px;
}

.edit-form-place h1 {
    color: var(--text);
    font-family: 'ALSHauss', sans-serif !important;
}

.editting-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-edit-place {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text);
}

.input-edit-place label {
    font-family: 'ALSHauss', sans-serif !important;
}

.email-place {
    font-family: 'ALSHauss', sans-serif !important;
    width: 50%;
}

.label-edit-input {
    font-size: 20px;
    font-weight: 500;
}

.code-editor .monaco-editor {
    border: 1px solid var(--input-border) !important;
}

.code-editor .monaco-editor .view-line {
    font-size: 18px !important;
}

.text-sopd-place {
    font-family: 'ALSHauss', sans-serif !important;
}

@media (width < 1100px) {
    .editting-form {
        width: 100%;
    }
}

@media (width < 800px) {
    .email-place {
        width: 100%;
    }
}

@media (width < 600px) {
    .edit-form-place h1 {
        font-size: 20px;
    }
    .label-edit-input {
        font-size: 18px;
    }
}

