@import url('../constants/colors.css');

.auth-form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: 'ALSHauss', sans-serif !important;
}

.text-field-root .MuiOutlinedInput-root,
.my-custom-picker .MuiOutlinedInput-root {
    border-radius: 12px !important;
    background-color: var(--input-bg);
    color: var(--text) !important;
}

.text-field-root .MuiOutlinedInput-notchedOutline,
.my-custom-picker .MuiOutlinedInput-notchedOutline {
    border: 1px solid var(--input-border) !important;
    border-radius: 12px !important;
    color: var(--text) !important;
}

.text-field-root .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.my-custom-picker .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 2px solid #1976d2 !important;
    border-radius: 12px !important; 
    color: var(--text) !important;
}

/* Граница при наведении */
.text-field-root .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.my-custom-picker .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border: 1px solid var(--input-border) !important;
    color: var(--text) !important;
}

.text-field-root .MuiInputLabel-root,
.my-custom-picker .MuiInputLabel-root {
  color: var(--input-placeholder) !important;
}

.first-input-field {
    margin-top: 20px !important;
}

.icon-eye {
    color: var(--input-placeholder) !important;
}

.text-field-root .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #1976d2 !important;
  border-width: 2px !important;
}

.button-submit {
    font-family: 'ALSHauss', sans-serif !important;
    font-size: 18px !important;
    border-radius: 8px !important;
    background-color: #1281E2 !important;
    margin-top: 10px !important;
    padding: 10px 0px !important;
}

@media (width < 1200px) {
    form {
        width: 90%;
    }
}

@media (width < 500px) {
    .button-submit {
        font-size: 16px !important;
    }
}