@import url('../constants/colors.css');

.header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.exit-btn {
    color: var(--text) !important;
    font-size: 20px !important;
    text-transform: none !important;
}

.exit-btn-mobile {
    margin-top: 30px !important;
    display: flex !important;
    justify-content: right !important;
    color: var(--text) !important;
    font-size: 20px !important;
    text-transform: none !important;
}

.burger-menu {
    display: none !important;
}

.main-logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

@media (width < 1100px) {
    .main-logo {
        width: 20% !important;
    }
    .exit-btn {
        display: none !important;
    }
    .burger-menu {
        display: block !important;
        display: flex !important;
        justify-content: right !important;
        padding-right: 0px !important;
    }
    .burger-menu-icon {
        color: var(--text);
        font-size: 36px !important;
    }
    .draw-menu .MuiDrawer-paper {
        background-color: var(--input-bg);
    }
}

@media (width < 650px) {
    .main-logo {
        width: 30%;
        min-width: 80px;
    }

    .main-logo svg {
        width: 100% !important;
        height: auto !important;
    }
}