@import url('../constants/colors.css');

.edit-form-place {
    width: 100%;
    padding-bottom: 40px;
}

.edit-form-place h1 {
    color: var(--text);
}

.editting-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-edit-place {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text);
}

.email-place {
    width: 50%;
}

.label-edit-input {
    font-size: 20px;
    font-weight: 500;
}